<style>
	.grid-table-title {
		font-size: 1.4rem;
		letter-spacing: .2em;
    text-transform: uppercase;
	}
	.grid-table-sm {
		display: grid;
		margin: 0;
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem .5rem;
		font-size: 1.3rem;
		padding: 0;
		margin: 2.2em 0 1.2em;
	}
	
	@media screen and (min-width: 648px) {
		.grid-table-sm {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: .5rem .5rem;
		}
	}
	.grid-table-sm img {
		margin: 0;
	}
	.grid-table-sm li {
		list-style: none;
	}
	.grid-table-sm p {
		line-height: 1.5;
		padding-right: 0.9rem;
		letter-spacing: 0;
		font-size: 1.35rem;
	}
	.grid-table-sm h4 {
    letter-spacing: 0;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
		font-weight: 500;
	}
	.grid-image-wrapper {
		min-height: 60px;
		min-width: 60px;
	} 
</style>

<h3 class="grid-table-title">Functions</h3>
<ul class="grid-table-sm">
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Strech-8-way.png' | file_img_url: '100x' }}" alt="8-WAY STRETCH">
		</div>
		<h4>8-WAY STRETCH</h4>
		<p>Developed to ensure an unparalleled eight-way stretch for optimal movement.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Double-Mercerized.png' | file_img_url: '100x' }}" alt="Double Mercerized">
		</div>
		<h4>Double Mercerized</h4>
		<p>Vibrant colors, extra strength and a soft silk cotton feel for comfort in all the right places.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Breathability.png' | file_img_url: '100x' }}" alt="High Breathability">
		</div>
		<h4>High Breathability</h4>
		<p>Optimize airflow allowing your skin to breathe, keeping you cool and comfortable.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Thermal_comfort.png' | file_img_url: '100x' }}" alt="Thermal Comfort">
		</div>
		<h4>Thermal Comfort</h4>
		<p>Facilitates the body’s adaptation to weather changes and makes you feel as good as you look.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Quickdry.png' | file_img_url: '100x' }}" alt="Quick Dry">
		</div>
		<h4>Quick Dry</h4>
		<p>Naturally eases the evaporation of moisture, keeping the skin dryer and at a constant body temperature.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Wrinkle_resistant.png' | file_img_url: '100x' }}" alt="Wrinkle Resistant">
		</div>
		<h4>Wrinkle Resistant</h4>
		<p>Naturally wrinkle resistant. No need to iron.</p>
	</li>
	<li>
		<div class="grid-image-wrapper">
			<img width="60" height="60" src="{{'BUGATCHI_ICONS_2020_black_Easy_care.png' | file_img_url: '100x' }}" alt="Easy Care">
		</div>
		<h4>Easy Care</h4>
		<p>Machine wash for easy care with long lasting performance wash after wash.</p>
	</li>
</ul>
