
{%- assign heading_block = section.blocks | where: "type", "heading" | first -%}
{%- assign image_block = section.blocks | where: "type", "media" | first -%}
{%- assign collection_title_block = section.blocks | where: "type", "collection_title" | first -%}

<div class="hub-footer">
  <div class="hub-footer__wrapper">
    <div class="hub-footer__body">
      <div class="hub-footer__heading">
        {%- if heading_block.settings.text != blank -%}
          <h2 
            class="hub-footer__heading--content hub-font{%- if heading_block.settings.is_dynamic -%}--dynamic{%- endif -%}"
            style="--font-desktop: {{ heading_block.settings.font_size_desktop }}px; --font-mobile: {{ heading_block.settings.font_size_mobile }}px; --clamp-value: {{ heading_block.settings.clamp_value }}vw">{{ heading_block.settings.text }}</h2>
        {%- endif -%}
      </div>
      <div class="hub-footer__media-wrapper">
        {%- if image_block != empty and image_block.settings.image != nil -%}
          {%- assign img_obj = image_block.settings.image -%}
          {%- assign alt = img_obj.alt | default: heading_block.settings.text -%}
          {{ img_obj 
            | image_url: width: 1500 
            | image_tag:
            sizes: "55vw", 
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: alt,
            class: "hub-footer__media-item"
          }}
        {%- else -%}
          {{ "image" | placeholder_svg_tag: "hub-footer__media-item placeholder"  }}
        {%- endif -%}
      </div>
    </div>
    <div class="hub-footer__footer">
      {%- if collection_title_block.settings.text != blank -%}
        <h2 
          class="hub-footer__collection-title hub-font{%- if collection_title_block.settings.is_dynamic -%}--dynamic{%- endif -%}"
          style="--font-desktop: {{ collection_title_block.settings.font_size_desktop }}px; --font-mobile: {{ collection_title_block.settings.font_size_mobile }}px; --clamp-value: {{ collection_title_block.settings.clamp_value }}vw"
        >{{ collection_title_block.settings.text }}</h2>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hub Page - Footer",
  "settings": [
    {
      "type": "header",
      "content": "Logo typography",
      "info": "Controls typography of Bugatchi Logo"
    },
    {
      "type": "paragraph",
      "content": "Enable responsive font sizing for dynamic text adjustments based on screen width. The Clamp ensures font size stays within defined range (Mobile - Desktop). Proportional scaling guarantees readability on various devices. Larger screens display larger text; smaller screens show appropriately scaled-down text. For example, 5vw clamp value means the font size is 5% of the screen width. If the screen width is 1600px, the font size is 80. If outside the range, the nearest valid value is selected"
    },
    {
      "type": "checkbox",
      "id": "is_dynamic",
      "label": "Use responsive font size (Clamp)",
      "default": true
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size | Desktop",
      "default": 60
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "min": 8,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font size | Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "clamp_value",
      "min": 0.2,
      "max": 20,
      "step": 0.2,
      "unit": "vw",
      "label": "Clamp value",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Content",
          "info": "Heading will be displayed on the left of the section image"
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "paragraph",
          "content": "Enable responsive font sizing for dynamic text adjustments based on screen width. The Clamp ensures font size stays within defined range (Mobile - Desktop). Proportional scaling guarantees readability on various devices. Larger screens display larger text; smaller screens show appropriately scaled-down text. For example, 5vw clamp value means the font size is 5% of the screen width. If the screen width is 1600px, the font size is 80. If outside the range, the nearest valid value is selected"
        },
        {
          "type": "checkbox",
          "id": "is_dynamic",
          "label": "Use responsive font size (Clamp)",
          "default": true
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size | Desktop",
          "default": 100
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size | Mobile",
          "default": 18
        },
        {
          "type": "range",
          "id": "clamp_value",
          "min": 0.2,
          "max": 20,
          "step": 0.2,
          "unit": "vw",
          "label": "Clamp value",
          "default": 4
        }
      ]
    },
    {
      "type": "media",
      "name": "Media",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image to display"
        }
      ]
    },
    {
      "type": "collection_title",
      "name": "Collection title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Collection title",
          "info": "Collection title will be displayed at the bottom of section"
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "paragraph",
          "content": "Enable responsive font sizing for dynamic text adjustments based on screen width. The Clamp ensures font size stays within defined range (Mobile - Desktop). Proportional scaling guarantees readability on various devices. Larger screens display larger text; smaller screens show appropriately scaled-down text. For example, 5vw clamp value means the font size is 5% of the screen width. If the screen width is 1600px, the font size is 80. If outside the range, the nearest valid value is selected"
        },
        {
          "type": "checkbox",
          "id": "is_dynamic",
          "label": "Use responsive font size (Clamp)",
          "default": true
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 50,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Font size | Desktop",
          "default": 200
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size | Mobile",
          "default": 15
        },
        {
          "type": "range",
          "id": "clamp_value",
          "min": 0.2,
          "max": 20,
          "step": 0.2,
          "unit": "vw",
          "label": "Clamp value",
          "default": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Hub Page",
      "name": "Hub Page - Footer",
      "settings": {},
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "text": "Bridging the gap between work and leisure. the ideal balance between sophistication and functionality. for every place, occasion and scenario."
          }
        },
        {
          "type": "media",
          "settings": {
            "image": "shopify:\/\/shop_images\/Rectangle_79.png"
          }
        },
        {
          "type": "collection_title",
          "settings": {
            "text": "OoohCotton®"
          }
        }
      ]
    } 
  ]
}
{% endschema %}