{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}

{% capture section_settings %}
{
  "lineItems": [
    {% for item in cart.items %}
      {{ item.product_id }}{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
{%- endcapture -%}

<div class="main-cart-items-wrapper">
  <cart-items
    class="page-width{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %} cart-page-items"
    data-section-settings='{{ section_settings | strip_newlines }}'
  >
    {% render 'cart-popup-products' %}

    <div class="title-wrapper">
      <h1 class="title title--primary center h3">{{ 'sections.cart.title' | t }}</h1>
      {%- if section.settings.free_shipping_amount != null -%}
        {%- assign threshold_in_cents = section.settings.free_shipping_amount | times: 100 -%}
        {%- if cart.total_price >= threshold_in_cents -%}
          <p class="free-shipping-message center">You are eligible for free shipping!</p>
        {%- else -%}
          <p class="free-shipping-message center">
            Spend {{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros | upcase }} more
            and get free shipping!
          </p>
        {%- endif -%}
      {%- endif -%}

      <script>
        window.freeShippingThreshold = '{{ threshold_in_cents }}';
      </script>
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text text upper-case">{{ 'sections.cart.empty' | t }}</h1>
      {%- if settings.free_shipping_amount != null -%}
        <p class="center">
          Spend {{ threshold_in_cents | money_without_trailing_zeros | upcase }} more and get free shipping!
        </p>
      {%- endif -%}
      <a href="{{ routes.all_products_collection_url }}" class="Button Button-primary">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {% comment %} Rerender styles on cart refresh since section id can be regenerated on refresh {% endcomment %}
          {%- style -%}
            .section-{{ section.id }}-padding {
              padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
              padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
            }

            @media screen and (min-width: 750px) {
              .section-{{ section.id }}-padding {
                padding-top: {{ section.settings.padding_top }}px;
                padding-bottom: {{ section.settings.padding_bottom }}px;
              }
            }
          {%- endstyle -%}

          <div class="cart__items--row cart__items--head mobile-hidden">
            <div>PRODUCT</div>
            <div class="text-center">QUANTITY</div>
            <div class="text-right">TOTAL</div>
          </div>

          {% for item in cart.items %}
            {% render "main-cart-lineitem", item: item %}
          {% endfor %}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </cart-items>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.main-cart-items.free_shipping_threshold"
    },
    {
      "type": "text",
      "id": "free_shipping_amount",
      "label": "Free shipping threshold",
      "default": "120"
    }
  ]
}
{% endschema %}