<div class="hub-slideshow" data-section="hub-slideshow" data-overlay-id="{{ section.settings.overlay_id | handleize }}">
  <div class="hub-slideshow__body swiper">
    <div class="hub-slideshow__body--wrapper swiper-wrapper">
      {% for block in section.blocks %}
        <div class="hub-slideshow__item swiper-slide{% if section.settings.grayscale == true %} grayscale{% endif %}">
          <div class="hub-slideshow__media-wrapper hub-slideshow__media-wrapper--slide">
            {% if block.settings.image != nil %}
              {%- assign img_obj = block.settings.image -%}
              {%- assign alt = img_obj.alt | default: block.settings.title -%}
              {%- capture position -%}
                object-position: {{ block.settings.image.presentation.focal_point }};
              {%- endcapture -%}
              {{ img_obj 
                | image_url: width: 1500 
                | image_tag:
                sizes: "55vw", 
                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                alt: alt,
                class: "hub-slideshow__media-item hub-slideshow__media-item--slide",
                style: position,
                title: block.settings.title
              }}
            {% else %}
              {{ "image" | placeholder_svg_tag: "hub-slideshow__media-item hub-slideshow__media-item--slide placeholder"  }}
            {% endif %}
          </div>
          {%- if section.settings.show_second_slider -%}
            {%- if block.settings.title != blank -%}
              <p class="hub-slideshow__title--small" title="{{ block.settings.title }}">{{ block.settings.title }}</p>
            {%- endif -%}
            
            <a class="hub-slideshow__cta hub-pill" data-component="learn-more-cta" title="learn more" data-index="{{ forloop.index }}" href="#slide-{{ block.id }}--details">LEARN MORE</a>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
    <div class="hub-slideshow__navigation">
      <button class="hub-slideshow__navigation--prev" data-action="slidePrev">{% render 'icons-new' with 'arrow-left-long', fill:"var(--fill)" %}</button>
      <button class="hub-slideshow__navigation--next" data-action="slideNext">{% render 'icons-new' with 'arrow-right-long', fill:"var(--fill)" %}</button>
    </div>
  </div>
  {%- if section.settings.show_second_slider -%}
    <div class="hub-slideshow__footer swiper">
      <div class="hub-slideshow__footer--wrapper swiper-wrapper">
        {% for block in section.blocks %}
          <div class="hub-slideshow__item-details swiper-slide" id="slide-{{ block.id }}--details">
            <div class="hub-slideshow__item-details--wrapper">
              {%- if block.settings.title != blank -%}
                <h2 
                  class="hub-slideshow__title--big{% if block.settings.push_content %} mb-auto{% endif %} hub-font{%- if block.settings.is_dynamic_title -%}--dynamic{%- endif -%}"
                  style="--font-desktop: {{ block.settings.font_size_desktop_title }}px; --font-mobile: {{ block.settings.font_size_mobile_title }}px; --clamp-value: {{ block.settings.clamp_value_title }}vw"
                >{{ block.settings.title }}</h2>  
              {%- endif -%}
              {%- if block.settings.description != blank -%}
                <p 
                  class="hub-slideshow__description hub-font{%- if block.settings.is_dynamic_title -%}--dynamic{%- endif -%}"
                  style="--font-desktop: {{ block.settings.font_size_desktop_description }}px; --font-mobile: {{ block.settings.font_size_mobile_description }}px; --clamp-value: {{ block.settings.clamp_value_description }}vw"
                >{{ block.settings.description }}</p>
              {%- endif -%}
  
              {%- if block.settings.features != blank -%}
                {%- assign features = block.settings.features | split: " | " -%}
                {%- assign features_limit = features.size | divided_by: 2.0 | round -%}
                <div class="hub-slideshow__features">
                  <ul>
                    {%- for feature in features limit: features_limit -%}
                      <li 
                        class="hub-font{%- if block.settings.is_dynamic_title -%}--dynamic{%- endif -%}"
                        style="--font-desktop: {{ block.settings.font_size_desktop_features }}px; --font-mobile: {{ block.settings.font_size_mobile_features }}px; --clamp-value: {{ block.settings.clamp_value_features }}vw"
                      >{{ feature }}</li>
                    {%- endfor -%}
       
                  </ul>
                  <ul>
                    {%- for feature in features offset: continue -%}
                      <li 
                        class="hub-font{%- if block.settings.is_dynamic_title -%}--dynamic{%- endif -%}"
                        style="--font-desktop: {{ block.settings.font_size_desktop_features }}px; --font-mobile: {{ block.settings.font_size_mobile_features }}px; --clamp-value: {{ block.settings.clamp_value_features }}vw"
                      >{{ feature }}</li>
                    {%- endfor -%}
                  </ul>
                </div>

              {%- endif -%}
              {% if  block.settings.link != blank %}
                <a class="hub-slideshow__cta hub-slideshow__cta--primary hub-pill" title="Shop now" href="{{ block.settings.link }}">shop now</a>
              {% endif %}
            </div>
            <div class="hub-slideshow__media-wrapper"> 
              {% if block.settings.image != nil %}
                {%- assign img_obj = block.settings.image_secondary -%}
                {%- assign alt = img_obj.alt | default: block.settings.title -%}
                {{ img_obj 
                  | image_url: width: 1500 
                  | image_tag:
                  sizes: "55vw", 
                  widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                  alt: alt,
                  class: "hub-slideshow__media-item"
                }}
              {% else %}
                {{ "image" | placeholder_svg_tag: "hub-slideshow__media-item placeholder"  }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="hub-slideshow__navigation">
        <button class="hub-slideshow__navigation--prev" data-action="slidePrev">{% render 'icons-new' with 'arrow-left-long', fill:"var(--fill)" %}</button>
        <button class="hub-slideshow__navigation--next" data-action="slideNext">{% render 'icons-new' with 'arrow-right-long', fill:"var(--fill)" %}</button>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Hub Page - Slideshow",
  "class": "overlay-section",
  "settings": [
    {
      "type": "text",
      "id": "overlay_id",
      "label": "Overlay ID",
      "info": "ID of overlay is used to link overlay to other blocks"
    },
    {
      "type": "checkbox",
      "id": "grayscale",
      "label": "Make slides of 1st slider black and white",
      "info": "Only active slide and slide on hover will have a color"
    },
    {
      "type": "checkbox",
      "id": "show_second_slider",
      "label": "Show second slider",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_secondary",
          "label": "Image Secondary"
        },
        {
          "type": "checkbox",
          "id": "push_content",
          "label": "Align content to the bottom",
          "info": "Aligns description, features list and button to the bottom of slide",
          "default": true
        },
        {
          "type": "header",
          "content": "Text content"
        },
        {
          "type": "paragraph",
          "content": "Enable responsive font sizing for dynamic text adjustments based on screen width. The Clamp ensures font size stays within defined range (Mobile - Desktop). Proportional scaling guarantees readability on various devices. Larger screens display larger text; smaller screens show appropriately scaled-down text. For example, 5vw clamp value means the font size is 5% of the screen width. If the screen width is 1600px, the font size is 80. If outside the range, the nearest valid value is selected"
        },
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "is_dynamic_title",
          "label": "Use responsive font size (Clamp)",
          "default": true
        },
        {
          "type": "range",
          "id": "font_size_desktop_title",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size | Desktop",
          "default": 100
        },
        {
          "type": "range",
          "id": "font_size_mobile_title",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size | Mobile",
          "default": 30
        },
        {
          "type": "range",
          "id": "clamp_value_title",
          "min": 0.2,
          "max": 20,
          "step": 0.2,
          "unit": "vw",
          "label": "Clamp value",
          "default": 5
        },
        {
          "type": "header",
          "content": "Description"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "is_dynamic_description",
          "label": "Use responsive font size (Clamp)",
          "default": true
        },
        {
          "type": "range",
          "id": "font_size_desktop_description",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size | Desktop",
          "default": 40
        },
        {
          "type": "range",
          "id": "font_size_mobile_description",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size | Mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "clamp_value_description",
          "min": 0.2,
          "max": 20,
          "step": 0.2,
          "unit": "vw",
          "label": "Clamp value",
          "default": 2
        },
        {
          "type": "header",
          "content": "Features"
        },
        {
          "type": "text",
          "id": "features",
          "label": "Content",
          "info": "Features seperated by | "
        },
        {
          "type": "checkbox",
          "id": "is_dynamic_features",
          "label": "Use responsive font size (Clamp)",
          "default": true
        },
        {
          "type": "range",
          "id": "font_size_desktop_features",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size | Desktop",
          "default": 20
        },
        {
          "type": "range",
          "id": "font_size_mobile_features",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size | Mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "clamp_value_features",
          "min": 0.2,
          "max": 20,
          "step": 0.2,
          "unit": "vw",
          "label": "Clamp value",
          "default": 3
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Hub Page",
      "name": "Hub Page - Slideshow", 
      "settings": {}
    } 
  ]
}
{% endschema %}